#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#selections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#both {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}